{% extends 'empty.html.twig' %}

{% set bodyClassName = 'bg-primary bg-opacity-25' %}

{% block title %}Activation de votre compte{% endblock %}

{% block page %}
    <main class="container">
        <div class="row">
            <div class="col mb-2 bg-light p-5 rounded card">
                <div class="card-body">
                    <div class="card-title">
                        <h1>Activation de votre compte</h1>
                    </div>

                    <div class="card-content">
                        <p class="alert alert-light">
                            <strong>{{ user.firstname }} <span class="smallcaps">{{ user.lastname }}</span></strong>,
                            choisissez un mot de passe.
                        </p>

                        {{ form_start(form) }}
                        <div class="mb-1 position-relative has-icon-left">
                            {{ form_widget(form.plainPassword.first) }}
                            {{ form_errors(form.plainPassword.first) }}
                            <div class="form-control-position">
                                <i class="fas fa-key"></i>
                            </div>

                            <small>{{ form_help(form.plainPassword.first) }}</small>
                        </div>
                        <div class="mb-1 position-relative has-icon-left">
                            {{ form_widget(form.plainPassword.second) }}
                            {{ form_errors(form.plainPassword.second) }}
                            <div class="form-control-position">
                                <i class="fas fa-key"></i>
                            </div>

                            <small>{{ form_help(form.plainPassword.second) }}</small>
                        </div>
                        <button type="submit" class="btn btn-outline-info btn-block w-100 mb-2">Valider</button>
                        {{ form_end(form) }}

                        <a href="{{ path('login') }}" class="btn btn-outline-secondary w-100">Retour à la page de connexion</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
