{% extends 'empty.html.twig' %}

{% set bodyClassName = 'bg-primary bg-opacity-25' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block page %}
    <main class="container">
        <div class="row">
            <div class="col mb-2 bg-light p-5 rounded card">
                <div class="card-body">
                    <div class="card-title">
                        <h1>Mot de passe oublié</h1>
                    </div>

                    <div class="card-content">
                        {{ include('_part/_alerts.html.twig') }}

                        <p class="alert alert-light">
                            Entrez votre nom d’utilisateur et votre e-mail pour que nous puissions vous retrouver.
                        </p>

                        {{ form_start(form) }}
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        <button type="submit" class="btn btn-outline-info btn-block w-100 mb-2">Valider</button>
                        {{ form_end(form) }}

                        <a href="{{ path('login') }}" class="btn btn-outline-secondary w-100">Retour à la page de connexion</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
