{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="row">
        <div class="col mb-2 bg-light p-5 rounded">
            <h1>Bienvenue sur l’extranet de l’Oasis&nbsp;!</h1>
            <p class="text-center">
                <img src="./{{ asset('images/logo.png') }}" alt="Logo" width="50%">
            </p>
            <p class="text-center">
                <a href="{{ path('person_new') }}" class="btn btn-outline-success"><i class="bi-person-plus"></i> Nouveau bénéficiaire</a>
                <a href="{{ path('visit_new') }}" class="btn btn-outline-success"><i class="bi-plus"></i> Saisir une visite</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="bi-people"></i> Les derniers bénéficaires</h2>

                    <div class="table-responsive">
                        <table class="table table-sm sortable">
                            <thead>
                            <tr>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th class="no-sort">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for person in people %}
                                <tr>
                                    <td>
                                        <a href="{{ path('person_show', {'id': person.id}) }}">{{ person.firstname }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('person_show', {'id': person.id}) }}"><span class="smallcaps">{{ person.lastname }}</span></a>
                                    </td>
                                    <td>
                                        <a href="{{ path('person_edit', {'id': person.id}) }}" class="btn btn-outline-warning btn-sm" title="Modifier"><i class="bi-pencil-square"></i></a>
                                        <a href="{{ path('visit_new', {'id': person.id}) }}" class="btn btn-outline-success btn-sm" title="Ajouter une visite"><i class="bi-plus"></i> Visite</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Aucun bénéficiaire trouvé</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <p class="text-end">
                        <a href="{{ path('person_index') }}" class="btn btn-outline-primary">Tout afficher</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="bi-stickies"></i> Les dernières visites</h2>

                    <div class="table-responsive">
                        <table class="table table-sm sortable">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Heure</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th class="no-sort">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for visit in visits %}
                                <tr>
                                    <td data-sort="{{ visit.datetime|date("Ymd") }}">
                                        <a href="{{ path('visit_show', {'id': visit.id}) }}">{{ visit.datetime|date("d/m/Y") }}</a>
                                    </td>
                                    <td data-sort="{{ visit.datetime|date("Hi") }}">
                                        <a href="{{ path('visit_show', {'id': visit.id}) }}">{{ visit.datetime|date("H:i") }}</a>
                                    </td>
                                    <td>{{ visit.person.firstname }}</td>
                                    <td><span class="smallcaps">{{ visit.person.lastname }}</span></td>
                                    <td>
                                        <a href="{{ path('visit_show', {'id': visit.id}) }}" class="btn btn-outline-primary btn-sm" title="Afficher"><i class="bi-search"></i></a>
                                        <a href="{{ path('visit_edit', {'id': visit.id}) }}" class="btn btn-outline-warning btn-sm" title="Modifier"><i class="bi-pencil-square"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Aucune visite trouvée</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <p class="text-end">
                        <a href="{{ path('visit_index') }}" class="btn btn-outline-primary">Tout afficher</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
