{% extends 'empty.html.twig' %}

{% set bodyClassName = 'bg-primary bg-opacity-25' %}

{% block title %}Se connecter{% endblock %}

{% block page %}
    <main class="container">
        <div class="row">
            <div class="col mb-2 bg-light p-5 rounded card">
                <div class="card-body">
                    <div class="card-title">
                        <img src="./{{ asset('images/logo.png') }}" alt="Logo" width="100%">
                    </div>

                    <div class="card-content">
                        <p class="h3 fw-bold text-center">Connexion à l’extranet</p>

                        {% if error %}
                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <i class="bi-exclamation-octagon flex-shrink-0 me-4 fs-3"></i>
                                <div class="fw-bold">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            </div>
                        {% endif %}
                        {{ include('_part/_alerts.html.twig') }}

                        <form action="{{ path('login') }}" class="" method="post">
                            <div class="mb-3 row">
                                <label for="username" class="col-sm-2 col-form-label">Nom d’utilisateur</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"/>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="password" class="col-sm-2 col-form-label">Mot de passe</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="password" name="_password"/>
                                </div>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="remember_me" name="_remember_me">
                                <label class="form-check-label" for="remember_me">Rester connecté</label>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-outline-primary">Se connecter</button>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="text-center">
                                        <a href="{{ path('user_forgot') }}" class="btn btn-outline-secondary">Mot de passe oublié</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
