{% for message in app.flashes('notice') %}
    <div class="row">
        <div class="col">
            <div class="alert alert-info d-flex align-items-center" role="alert">
                <i class="bi-info-circle flex-shrink-0 me-4 fs-3"></i>
                <div class="fw-bold">
                    {{ message }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% for message in app.flashes('success') %}
    <div class="row">
        <div class="col">
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <i class="bi-check-circle flex-shrink-0 me-4 fs-3"></i>
                <div class="fw-bold">
                    {{ message }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% for message in app.flashes('warning') %}
    <div class="row">
        <div class="col">
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <i class="bi-exclamation-triangle flex-shrink-0 me-4 fs-3"></i>
                <div class="fw-bold">
                    {{ message }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="row">
        <div class="col">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <i class="bi-exclamation-circle flex-shrink-0 me-4 fs-3"></i>
                <div class="fw-bold">
                    {{ message }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}