<form method="post" action="{{ path('visit_delete', {'id': visit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ visit.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
