{{ form_start(form) }}
    {% if person and person.warning %}
        <div class="row mb-4">
            <div class="col">
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <i class="bi-exclamation-triangle flex-shrink-0 me-4 fs-3"></i>
                    <div class="fw-bold">
                        {{ person.warning }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row mb-4">
        <div class="col">
            <div class="card border-{% if button_label is defined %}warning{% else %}success{% endif %}">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Information générale</h2>
                    </div>
                    {{ form_row(form.datetime) }}
                    {% if form.person is defined %}
                    {{ form_row(form.person) }}
                    {% endif %}
                    {{ form_row(form.who) }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-{% if button_label is defined %}warning{% else %}success{% endif %}">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Besoins</h2>
                        {{ form_row(form.breakfast) }}
                        {{ form_row(form.administrative) }}
                        {{ form_row(form.locker) }}
                        {{ form_row(form.washing) }}
                        {{ form_row(form.clothes) }}
                        {{ form_row(form.listen) }}
                        {{ form_row(form.shower) }}
                        {{ form_row(form.hairdressing) }}
                        {{ form_row(form.package) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            {{ form_row(form.observations) }}
        </div>
    </div>
    {{ form_widget(form) }}

    <div class="row">
        <div class="col text-center">
            <button class="btn btn-outline-{% if button_label is defined %}warning{% else %}success{% endif %}">
                {{ button_label|default('Ajouter') }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
