<caption>
    <h5>Légende</h5>
    <div class="row">
        <div class="col">
            <h6>Colis alimentaire</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="bi-box2"></i> Aucun colis distribué</li>
                <li class="list-group-item"><i class="bi-box2-fill text-secondary"></i> Un colis distribué (chaud ou froid)</li>
                <li class="list-group-item"><i class="bi-box2-fill text-primary"></i> Colis froid distribué</li>
                <li class="list-group-item"><i class="bi-box2-fill text-danger"></i> Colis chaud distribué</li>
            </ul>
        </div>
    </div>
</caption>