{% if package.value == 'NOT' %}
    <i class="bi-box2" title="Aucun colis distribué"></i>
{% else %}
    {% if package.value == 'HOT' %}
        <i class="bi-box2-fill text-danger" title="Colis chaud distribué"></i>
    {% elseif package.value == 'COLD' %}
        <i class="bi-box2-fill text-primary" title="Colis froid distribué"></i>
    {% else %}
        <i class="bi-box2-fill text-secondary" title="Un colis distribué (chaud ou froid)"></i>
    {% endif %}
{% endif %}