{% extends 'base.html.twig' %}

{% block title %}Modifier une visite{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1><i class="bi-pencil-square"></i> Modifier une visite</h1>
        </div>
    </div>

    {{ include('visit/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="row">
        <div class="col">
            <a href="{{ path('visit_index') }}" class="btn btn-outline-secondary">Retourner à la liste</a>
        </div>
        <div class="col text-end">
            {{ include('visit/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
