{% extends 'base.html.twig' %}

{% block title %}Visites{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1><i class="bi-stickies"></i> Visites</h1>
        </div>
    </div>

    <div class="row">
        <div class="col align-self-end">
            <p class="text-center">
                <a href="{{ path('visit_stats') }}" class="btn btn-outline-secondary"><i class="bi-graph-up"></i> Statistiques</a>
            </p>
        </div>
        <div class="col align-self-end">
            <p class="text-center">
                <a href="{{ path('visit_new') }}" class="btn btn-outline-success"><i class="bi-plus"></i> Saisir une visite</a>
            </p>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col align-self-center">{{ form_row(form.from) }}</div>
        <div class="col align-self-center">{{ form_row(form.to) }}</div>
        <div class="col align-self-end">
            <p class="text-center">
                <button class="btn btn-outline-primary">
                    Filtrer
                </button>
            </p>
            {{ form_widget(form) }}
        </div>
    </div>
    {{ form_end(form) }}

    <div class="row">
        <div class="col table-responsive">
            <table class="table table-sm sortable">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th class="text-center">Petit déjeuner</th>
                    <th class="text-center">Administratif</th>
                    <th class="text-center">Casier</th>
                    <th class="text-center">Machine à laver</th>
                    <th class="text-center">Vêtements</th>
                    <th class="text-center">Écoute</th>
                    <th class="text-center">Douche</th>
                    <th class="text-center">Coiffure</th>
                    <th class="text-center">Colis alimentaire</th>
                    <th class="no-sort">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for visit in visits %}
                    <tr>
                        <td data-sort="{{ visit.datetime|date("Ymd") }}">
                            <a href="{{ path('visit_show', {'id': visit.id}) }}">{{ visit.datetime|date("d/m/Y") }}</a>
                        </td>
                        <td data-sort="{{ visit.datetime|date("Hi") }}">
                            <a href="{{ path('visit_show', {'id': visit.id}) }}">{{ visit.datetime|date("H:i") }}</a>
                        </td>
                        <td>
                            <a href="{{ path('person_show', {'id': visit.person.id}) }}">{{ visit.person.firstname }}</a>
                        </td>
                        <td>
                            <span class="smallcaps"><a href="{{ path('person_show', {'id': visit.person.id}) }}">{{ visit.person.lastname }}</a></span>
                        </td>
                        <td class="text-center" data-sort="{{ visit.breakfast }}"><i class="bi-{{ visit.breakfast ? 'check-' : '' }}square"></i></td>
                        <td class="text-center" data-sort="{{ visit.administrative }}"><i class="bi-{{ visit.administrative ? 'check-' : '' }}square"></i></td>
                        <td class="text-center" data-sort="{{ visit.locker }}"><i class="bi-{{ visit.locker ? 'check-' : '' }}square"></i></td>
                        <td class="text-center" data-sort="{{ visit.washing }}"><i class="bi-{{ visit.washing ? 'check-' : '' }}square"></i></td>
                        <td class="text-center" data-sort="{{ visit.clothes }}"><i class="bi-{{ visit.clothes ? 'check-' : '' }}square"></i></td>
                        <td class="text-center" data-sort="{{ visit.listen }}"><i class="bi-{{ visit.listen ? 'check-' : '' }}square"></i></td>
                        <td class="text-center" data-sort="{{ visit.shower }}"><i class="bi-{{ visit.shower ? 'check-' : '' }}square"></i></td>
                        <td class="text-center" data-sort="{{ visit.hairdressing }}"><i class="bi-{{ visit.hairdressing ? 'check-' : '' }}square"></i></td>
                        <td class="text-center" data-sort="{{ visit.package.value }}">{{ include('visit/_package.html.twig', {'package': visit.package}) }}</td>
                        <td>
                            <a href="{{ path('visit_show', {'id': visit.id}) }}" class="btn btn-outline-primary btn-sm" title="Afficher"><i class="bi-search"></i></a>
                            <a href="{{ path('visit_edit', {'id': visit.id}) }}" class="btn btn-outline-warning btn-sm" title="Modifier"><i class="bi-pencil-square"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">Aucune visite trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>

                {{ include('visit/_legend.html.twig') }}
            </table>
        </div>
    </div>
{% endblock %}
