{% extends 'base.html.twig' %}

{% block title %}Saisir une visite{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>
                <i class="bi-person-plus"></i> Saisir une visite
                {% if person %}
                pour {{ person.title }} {{ person.firstname }} <span class="smallcaps">{{ person.lastname }}</span>
                {% endif %}
            </h1>
        </div>
    </div>

    {{ include('visit/_form.html.twig') }}

    <div class="row">
        <div class="col">
            <a href="{{ path('visit_index') }}" class="btn btn-outline-secondary">Retourner à la liste</a>
        </div>
    </div>
{% endblock %}
