{% extends 'base.html.twig' %}

{% block title %}Détail d’une visite{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <h1>
                <i class="bi-sticky"></i> Détail d’une visite
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="lead text-center">
                <i class="bi-person"></i>
                <a href="{{ path('person_show', {'id': visit.person.id}) }}">{{ visit.person.firstname }} <span class="samllcaps">{{ visit.person.lastname }}</span></a>
            </p>
            <p class="lead text-center">
                <i class="bi-clock"></i> Le
                {{ visit.datetime|date("d/m/Y H:i") }}
            </p>
            <p class="lead text-center">
                Accueilli par
                {{ visit.who }}
            </p>
            <p class="text-center">
                <a href="{{ path('visit_index') }}" class="btn btn-outline-secondary">Retourner à la liste</a>
            </p>
            <p class="text-center">
                <a href="{{ path('visit_edit', {'id': visit.id}) }}" class="btn btn-outline-warning"><i class="bi-pencil-square"></i> Modifier</a>
            </p>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Petit déjeuner</th>
                            <td><i class="bi-{{ visit.breakfast ? 'check-' : '' }}square"></i></td>
                        </tr>
                        <tr>
                            <th>Documents admnistratifs</th>
                            <td><i class="bi-{{ visit.administrative ? 'check-' : '' }}square"></i></td>
                        </tr>
                        <tr>
                            <th>Casier</th>
                            <td><i class="bi-{{ visit.locker ? 'check-' : '' }}square"></i></td>
                        </tr>
                        <tr>
                            <th>Machine à laver</th>
                            <td><i class="bi-{{ visit.washing ? 'check-' : '' }}square"></i></td>
                        </tr>
                        <tr>
                            <th>Vêtements</th>
                            <td><i class="bi-{{ visit.clothes ? 'check-' : '' }}square"></i></td>
                        </tr>
                        <tr>
                            <th>Écoute</th>
                            <td><i class="bi-{{ visit.listen ? 'check-' : '' }}square"></i></td>
                        </tr>
                        <tr>
                            <th>Douche</th>
                            <td><i class="bi-{{ visit.shower ? 'check-' : '' }}square"></i></td>
                        </tr>
                        <tr>
                            <th>Coiffure</th>
                            <td><i class="bi-{{ visit.hairdressing ? 'check-' : '' }}square"></i></td>
                        </tr>
                        <tr>
                            <th>Colis alimentaire</th>
                            <td>
                                {{ include('visit/_package.html.twig', {'package': visit.package}) }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Observations</h2>
            {% if visit.observations %}
            {{ visit.observations|markdown_to_html }}
            {% endif %}
        </div>
    </div>
{% endblock %}
