{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>
                <i class="bi-graph-up"></i> Statistiques
                <small class="text-muted">du {{ from|date("d/m/Y") }} au {{ to|date("d/m/Y") }}</small>
            </h1>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col align-self-center">{{ form_row(form.from) }}</div>
        <div class="col align-self-center">{{ form_row(form.to) }}</div>
        <div class="col align-self-end">
            <p class="text-center">
                <button class="btn btn-outline-primary">
                    Actualiser
                </button>
            </p>
            {{ form_widget(form) }}
        </div>
        <div class="col align-self-end">
            <p class="text-center">
                <a href="{{ path('visit_index') }}" class="btn btn-outline-secondary"><i class="bi-stickies"></i> Liste des visite</a>
            </p>
        </div>
    </div>
    {{ form_end(form) }}

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Nombre de jours d’ouverture</th>
                            <td>{{ days }}</td>
                        </tr>
                        <tr>
                            <th>Nombres de visites</th>
                            <td>{{ stats.visitSum }}</td>
                        </tr>
                        <tr>
                            <th>Nombres de visiteurs différents</th>
                            <td>{{ stats.personSum }}</td>
                        </tr>
                        <tr>
                            <th>Moyenne de visites par jour</th>
                            <td>{{ (stats.visitSum/days)|round(1, 'floor') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Petit déjeuner</th>
                            <td>{{ stats.breakfastSum }}</td>
                        </tr>
                        <tr>
                            <th>Documents admnistratifs</th>
                            <td>{{ stats.administrativeSum }}</td>
                        </tr>
                        <tr>
                            <th>Casier</th>
                            <td>{{ stats.lockerSum }}</td>
                        </tr>
                        <tr>
                            <th>Machine à laver</th>
                            <td>{{ stats.washingSum }}</td>
                        </tr>
                        <tr>
                            <th>Vêtements</th>
                            <td>{{ stats.clothesSum }}</td>
                        </tr>
                        <tr>
                            <th>Écoute</th>
                            <td>{{ stats.listenSum }}</td>
                        </tr>
                        <tr>
                            <th>Douche</th>
                            <td>{{ stats.showerSum }}</td>
                        </tr>
                        <tr>
                            <th>Coiffure</th>
                            <td>{{ stats.hairdressingSum }}</td>
                        </tr>
                        <tr>
                            <th>Colis alimentaire</th>
                            <td>
                                <i class="bi-box2-fill text-primary" title="Colis froid distribué"></i>
                                    {{ packages.cold }}<br>
                                <i class="bi-box2-fill text-danger" title="Colis chaud distribué"></i>
                                    {{ packages.hot }}<br>
                                <i class="bi-box2-fill text-secondary" title="Un colis distribué (chaud ou froid)"></i>
                                    {{ packages.undefined }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{ include('visit/_legend.html.twig') }}
{% endblock %}
