/**
 * Copyright 2021 Grégoire Oliveira Silva <gregoire@theo-net.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import '~@fontsource/ubuntu/300.css';
@import '~@fontsource/ubuntu/300-italic.css';
@import '~@fontsource/ubuntu/500.css';
@import '~@fontsource/ubuntu/500-italic.css';

@import "variables";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

@import "sortable";

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.smallcaps {
  font-variant: small-caps;
}

.navbar-dark .navbar-brand {
  font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}