/**
 * Copyright 2021 Grégoire Oliveira Silva <gregoire@theo-net.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.sortable {
  th:not(.no-sort) {

    &::after {
      font-size: 1.2em;
      color: transparent;
      content: ' \025B8';
    }

    &.dir-d {
      &::after {
        color: inherit;
        content: ' \025BE';
      }
    }

    &.dir-u {
      &::after {
        color: inherit;
        content: ' \025B4';
      }
    }

    &:hover {
      &::after {
        color: inherit;
        font-size: 1.2em;
        content: ' \025B8';
      }
    }
  }
}