<form method="post" action="{{ path('person_delete', {'id': person.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir suprimer ce bénéficiaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
