{{ form_start(form) }}
    <div class="row mb-4">
        <div class="col">
            <div class="card border-{% if button_label is defined %}warning{% else %}success{% endif %}">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Civilité</h2>
                    </div>
                    {{ form_row(form.title) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-{% if button_label is defined %}warning{% else %}success{% endif %}">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Contact</h2>
                    </div>
                    {{ form_row(form.phone) }}
                    {{ form_row(form.email) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="card border-{% if button_label is defined %}warning{% else %}success{% endif %}">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Adresse</h2>
                    </div>
                    {{ form_row(form.addressLine1) }}
                    {{ form_row(form.addressLine2) }}
                    {{ form_row(form.postalCode) }}
                    {{ form_row(form.city) }}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-{% if button_label is defined %}warning{% else %}success{% endif %}">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Divers</h2>
                    </div>
                    {{ form_row(form.sender) }}
                    <p class="alert alert-warning">
                        L’élément suivant sera affiché sous forme d’alerte, contrairement au contenu de «&nbsp;Notes&nbsp;».
                    </p>
                    {{ form_row(form.warning) }}
                    {{ form_row(form.notes) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="card border-{% if button_label is defined %}warning{% else %}success{% endif %}">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Règlement intérieur</h2>
                    </div>
                    {{ form_row(form.rules) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form) }}

    <div class="row">
        <div class="col text-center">
            <button class="btn btn-outline-{% if button_label is defined %}warning{% else %}success{% endif %}">
                {{ button_label|default('Ajouter') }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
