<table class="table table-sm sortable">
    <thead>
    <tr>
        <th>Id</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Dernier passage</th>
        <th>Nombre de passages</th>
        <th class="no-sort">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for person in people %}
        <tr>
            <td>
                <a href="{{ path('person_show', {'id': person.id}) }}">{{ include('person/_id.html.twig')}}</a>
            </td>
            <td>
                <a href="{{ path('person_show', {'id': person.id}) }}">{{ person.firstname }}</a>
            </td>
            <td>
                <a href="{{ path('person_show', {'id': person.id}) }}"><span class="smallcaps">{{ person.lastname }}</span></a>
            </td>
            {% set lastVisit = person.getLastVisit() %}
            {% if lastVisit %}
            <td data-sort="{{ lastVisit.datetime|date("U") }}">{{ lastVisit.datetime|date("d/m/Y H:i") }}</td>
            {% else %}
            <td></td>
            {% endif %}
            <td>{{ person.visits|length }}</td>
            <td>
                <a href="{{ path('person_edit', {'id': person.id}) }}" class="btn btn-outline-warning btn-sm" title="Modifier"><i class="bi-pencil-square"></i></a>
                <a href="{{ path('visit_new', {'id': person.id}) }}" class="btn btn-outline-success btn-sm" title="Ajouter une visite"><i class="bi-plus"></i> Visite</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucun bénéficiaire trouvé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>