{% extends 'base.html.twig' %}

{% block title %}Modifier un bénéficiaire{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1><i class="bi-pencil-square"></i> Modifier un bénéficiaire</h1>
        </div>
    </div>

    {{ include('person/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="row">
        <div class="col">
            <a href="{{ path('person_index') }}" class="btn btn-outline-secondary">Retourner à la liste</a>
        </div>
        <div class="col text-end">
            {{ include('person/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
