{% extends 'base.html.twig' %}

{% block title %}Bénéficiaires{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1><i class="bi-people"></i> Bénéficiaires</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="text-center">
                <a href="{{ path('person_new') }}" class="btn btn-outline-success"><i class="bi-person-plus"></i> Ajouter un bénéficiaire</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ include('person/_list.html.twig') }}
        </div>
    </div>
{% endblock %}
