{% extends 'base.html.twig' %}

{% block title %}Ajouter un bénéficiaire{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1><i class="bi-person-plus"></i> Ajouter un bénéficiaire</h1>
        </div>
    </div>

    {{ include('person/_form.html.twig') }}

    <div class="row">
        <div class="col">
            <a href="{{ path('person_index') }}" class="btn btn-outline-secondary">Retourner à la liste</a>
        </div>
    </div>
{% endblock %}
