{% extends 'base.html.twig' %}

{% block title %}Résultats de la recherche : {{ search }}{% endblock %}

{% block body %}
    <div class="row mb-4">
        <div class="col">
            <h1><i class="bi-search"></i> Résultats de la recherche</h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col text-center">
            <p class="lead">«&nbsp;{{ search }}&nbsp;»</p>
        </div>
        <div class="col text-end">
            <a href="{{ path('person_index') }}" class="btn btn-outline-secondary">Afficher tous les bénéficiaires</a>
            <a href="{{ path('person_new') }}" class="btn btn-outline-success"><i class="bi-person-plus"></i> Ajouter un bénéficiaire</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ include('person/_list.html.twig') }}
        </div>
    </div>
{% endblock %}
