{% extends 'base.html.twig' %}

{% block title %}{{ person.firstname }} {{ person.lastname }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>
                <i class="bi-person"></i> Détail d’un bénéficiaire&nbsp;:
                {{ person.title }} {{ person.firstname }} <span class="smallcaps">{{ person.lastname }}</span>
            </h1>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col text-center">
            <a href="{{ path('person_index') }}" class="btn btn-outline-secondary">Retourner à la liste</a>
        </div>
        <div class="col text-center">
            <a href="{{ path('visit_new', {'id': person.id}) }}" class="btn btn-outline-success"><i class="bi-plus"></i> Saisir une visite</a>
        </div>
        <div class="col text-center">
            <a href="{{ path('person_edit', {'id': person.id}) }}" class="btn btn-outline-warning"><i class="bi-pencil-square"></i> Modifier</a>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Informations personnelles</h2>
                    </div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th><i class="bi-telephone"></i> Téléphone</th>
                            <td>{{ person.phone }}</td>
                        </tr>
                        <tr>
                            <th><i class="bi-envelope"></i> E-Mail</th>
                            <td>{{ person.email }}</td>
                        </tr>
                        <tr>
                            <th><i class="bi-geo-alt"></i> Adresse</th>
                            <td>
                                {{ person.addressLine1 }}
                                {{ person.addressLine2 }}
                                {{ person.postalCode }} <span class="smallcaps">{{ person.city }}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Informations internes</h2>
                    </div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ include('person/_id.html.twig')}}</td>
                        </tr>
                        <tr>
                            <th>Envoyé par</th>
                            <td>{{ person.sender }}</td>
                        </tr>
                        <tr>
                            <th>Règlement intérieur</th>
                            <td>
                                {% if not person.rules %}
                                    <span class="text-danger">Non signé</span>
                                {% else %}
                                    <span class="text-success">Signé</span>
                                    <a href="{{ asset('upload/rules/' ~ person.rules) }}" class="btn btn-outline-info btn-sm" target="_blank">
                                        <i class="bi-file-pdf"></i> Voir le document
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Documents</th>
                            <td>
                                <ul class="list-group list-group-flush">
                                    {% if person.documents.count == 0 %}
                                        <li class="list-group-item disabled" aria-disabled="true">
                                            Aucun document associé au bénéficiaire
                                        </li>
                                    {% else %}
                                        {% for document in person.documents %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="{{ asset('upload/documents/' ~ document.filename) }}" target="_blank">{{ document.name }}</a>
                                            <a href="{{ path('document_edit', {'id': document.id}) }}" class="btn btn-outline-warning btn-sm" title="Modifier"><i class="bi-pencil-square"></i></a>
                                        </li>
                                        {% endfor %}
                                    {% endif %}
                                    <li class="list-group-item text-center">
                                        <a href="{{ path('document_new', {'id': person.id}) }}" class="btn btn-outline-success"><i class="bi-plus"></i> Ajouter un document</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <h3>Notes</h3>
                    <div>
                        {% if person.notes %}
                            {{ person.notes|markdown_to_html }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if person.warning %}
    <div class="row">
        <div class="col">
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <i class="bi-exclamation-triangle flex-shrink-0 me-4 fs-3"></i>
                <div class="fw-bold">
                    {{ person.warning }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <p class="text-end text-muted">
                {% if person.createdAt == person.updatedAt %}
                    Bénéficiaire créé le {{ person.createdAt|format_date() }} à {{ person.createdAt|format_time('short') }}
                {% else %}
                    Bénéficiaire modifié le {{ person.updatedAt|format_date() }} à {{ person.updatedAt|format_time('short') }}
                {% endif %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <h2>Les visites du bénéficiaire</h2>
                <table class="table table-sm sortable">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Heure</th>
                        <th class="text-center">Petit déjeuner</th>
                        <th class="text-center">Administratif</th>
                        <th class="text-center">Casier</th>
                        <th class="text-center">Machine à laver</th>
                        <th class="text-center">Vêtements</th>
                        <th class="text-center">Écoute</th>
                        <th class="text-center">Douche</th>
                        <th class="text-center">Coiffure</th>
                        <th class="text-center">Colis alimentaire</th>
                        <th class="no-sort">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for visit in person.visits %}
                        <tr>
                            <td data-sort="{{ visit.datetime|date("Ymd") }}">
                                <a href="{{ path('visit_show', {'id': visit.id}) }}">{{ visit.datetime|date("d/m/Y") }}</a>
                            </td>
                            <td data-sort="{{ visit.datetime|date("Hi") }}">
                                <a href="{{ path('visit_show', {'id': visit.id}) }}">{{ visit.datetime|date("H:i") }}</a>
                            </td>
                            <td class="text-center" data-sort="{{ visit.breakfast }}"><i class="bi-{{ visit.breakfast ? 'check-' : '' }}square"></i></td>
                            <td class="text-center" data-sort="{{ visit.administrative }}"><i class="bi-{{ visit.administrative ? 'check-' : '' }}square"></i></td>
                            <td class="text-center" data-sort="{{ visit.locker }}"><i class="bi-{{ visit.locker ? 'check-' : '' }}square"></i></td>
                            <td class="text-center" data-sort="{{ visit.washing }}"><i class="bi-{{ visit.washing ? 'check-' : '' }}square"></i></td>
                            <td class="text-center" data-sort="{{ visit.clothes }}"><i class="bi-{{ visit.clothes ? 'check-' : '' }}square"></i></td>
                            <td class="text-center" data-sort="{{ visit.listen }}"><i class="bi-{{ visit.listen ? 'check-' : '' }}square"></i></td>
                            <td class="text-center" data-sort="{{ visit.shower }}"><i class="bi-{{ visit.shower ? 'check-' : '' }}square"></i></td>
                            <td class="text-center" data-sort="{{ visit.hairdressing }}"><i class="bi-{{ visit.hairdressing ? 'check-' : '' }}square"></i></td>
                            <td class="text-center" data-sort="{{ visit.package.value }}">{{ include('visit/_package.html.twig', {'package': visit.package}) }}</td>
                            <td>
                                <a href="{{ path('visit_show', {'id': visit.id}) }}" class="btn btn-outline-primary btn-sm" title="Afficher"><i class="bi-search"></i></a>
                                <a href="{{ path('visit_edit', {'id': visit.id}) }}" class="btn btn-outline-warning btn-sm" title="Modifier"><i class="bi-pencil-square"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">Aucune visite trouvée</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
