<p>Bonjour <strong>{{ user.firstname }} {{ user.lastname }}</strong></p>
<p>
    Pour valider votre compte utilisateur, merci de cliquer sur le lien : <a href="{{ confirmation_url }}">{{ confirmation_url }}</a>.
</p>
<p>
    Ce lien ne peut être utilisé qu’une seule fois pour valider votre compte.
</p>
<p>
    Cordialement,<br/>
    L’administrateur de l’application
</p>