<p>Bonjour <strong>{{ user.firstname }} {{ user.lastname }}</strong>,</p>
<p>
    Vous avez demandé à réinitialiser votre mot de passe sur lextranet de l’Oasis.<br/><br/>
    Pour ce faire, veuillez utiliser le lien ci-dessous :
</p>
<p>
    <a href="{{ url('user_reset') }}?username={{ user.username }}&token={{ token }}">{{ url('user_reset') }}?username={{ user.username }}&token={{ token }}</a>
</p>

<p>
    Cordialement,<br/>
    L’administrateur de l’application
</p>
