{% extends 'empty.html.twig' %}

{% block page %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}">L’Oasis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('home') }}"><i class="bi-house-door"></i> Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('person_index') }}"><i class="bi-people"></i> Bénéficiaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('visit_index') }}"><i class="bi-stickies"></i> Visites</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_index') }}"><i class="bi-gear"></i> Admin</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarUserMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-person-circle"></i> {{ app.user.firstname }} <span class="smallcaps">{{ app.user.lastname }}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarUserMenuLink">
                            <li><a class="dropdown-item" href="{{ path('user_profil') }}"><i class="bi-person"></i> Profil</a></li>
                            {% if is_granted('IS_IMPERSONATOR') %}
                            <li><a class="dropdown-item" href="{{ impersonation_exit_path(path('home')) }}"><i class="bi-person-bounding-box"></i> Redevenir soi-même</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ path('logout') }}"><i class="bi-box-arrow-right"></i> Se déconnecter</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" action="{{ path('person_search') }}" method="post">
                    <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Rechercher" name="search">
                    <button class="btn btn-outline-light" type="submit">Rechercher</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        {{ include('_part/_alerts.html.twig') }}
    </div>

    <main class="container">
        {% block body %}{% endblock %}
    </main>
{% endblock %}
