<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Abbé Grégoire Oliveira Silva">
    <title>{% block title %}{% endblock %} - Extranet de l’Oasis</title>

    {{ encore_entry_link_tags('main') }}
    {% block stylesheets %}{% endblock %}
</head>

<body {% if bodyClassName is defined %}class="{{ bodyClassName }}"{% endif %}>

    {% block page %}{% endblock %}

{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}

<!--
Copyright 2021 Grégoire Oliveira Silva <gregoire@theo-net.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code. (MIT Licence)
-->
</body>
</html>
