<form method="post" action="{{ path('document_delete', {'id': document.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir suprimer ce document ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
