{% extends 'base.html.twig' %}

{% block title %}Modifier un document{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>
                <i class="bi-pencil-square"></i>
                Modifier un document <i>{{ document.name }}</i>
                ({{ document.person.title }} {{ document.person.firstname }} <span class="smallcaps">{{ document.person.lastname }}</span>)
            </h1>
        </div>
    </div>

    {{ include('document/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="row">
        <div class="col">
            <a href="{{ path('person_show', {'id': document.person.id}) }}" class="btn btn-outline-secondary">Retourner au bénéficiaire</a>
        </div>
        <div class="col text-end">
            {{ include('document/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
