{% extends 'base.html.twig' %}

{% block title %}Ajouter un document{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>
                <i class="bi-pencil-square"></i>
                Ajouter un document pour
                {{ document.person.title }} {{ document.person.firstname }} <span class="smallcaps">{{ document.person.lastname }}</span>
            </h1>
        </div>
    </div>

    {{ include('document/_form.html.twig') }}

    <div class="row">
        <div class="col">
            <a href="{{ path('person_show', {'id': document.person.id}) }}" class="btn btn-outline-secondary">Retourner au bénéficiaire</a>
        </div>
    </div>
{% endblock %}
