{% extends 'empty.html.twig' %}

{% set bodyClassName = 'bg-light' %}

{% block title %}Erreur interne à l’application{% endblock %}

{% block page %}
    <main class="container ps-5 pe-5">
        {% block error_message %}
            <h1 class="mt-5 mb-5 text-center text-danger"><i class="bi-exclamation-circle"></i> Erreur interne à l’application</h1>

            <p class="mb-5">
                L’application a rencontré une erreur. Lors de la création de la page, le serveur n’a pas réussi à collecter
                toutes les données dont il a besoin, ou à traiter votre demande (envoi d’un formulaire, ...). La page ne peut
                donc pas être affichée. Il n’est pas utile de rééssayer plusieurs fois.
            </p>
        {% endblock %}

        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="{{ path('home') }}" class="w-100 col btn btn-outline-secondary"><i class="bi-house-door"></i> Accueil</a>
                </div>
                <div class="col">
                    <a href="mailto:gregoire@theo-net.org" class="w-100 btn btn-outline-secondary"><i class="bi-enveloppe"></i> Contacter le support</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}