{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block error_message %}
    <h1 class="mt-5 mb-5 text-center text-danger"><i class="bi-exclamation-octagon"></i> Accès refusé</h1>

    <p class="mb-5">
        Soit vous n’êtes pas authentifié, soit vous n’êtes pas autorisé à accéder à cette page.
    </p>
{% endblock %}