{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block error_message %}
    <h1 class="mt-5 mb-5 text-center text-warning"><i class="bi-exclamation-triangle"></i> Page non trouvée</h1>

    <p class="mb-5">
        L’application n’a pas pu trouver la page à laquelle vous souhaitez accéder. Cela peut provenir du lien sur
        lequel vous avez cliqué ou du favori que vous avez utilisé qui n’est plus à jour.
    </p>
{% endblock %}