{{ form_start(form) }}
    <div class="row mb-4">
        <div class="col">
            <div class="card border-{% if button_label is defined %}warning{% else %}success{% endif %}">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Informations personnelles</h2>
                    </div>
                    {{ form_row(form.title) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-{% if button_label is defined %}warning{% else %}success{% endif %}">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Informations de connexion</h2>
                    </div>
                    {{ form_row(form.email) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.is_admin) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form) }}

    <div class="row">
        <div class="col text-center">
            <button class="btn btn-outline-{% if button_label is defined %}warning{% else %}success{% endif %}">
                {{ button_label|default('Ajouter') }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
