{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1><i class="bi-pencil-square"></i> Modifier un utilisateur</h1>
        </div>
    </div>

    {% if user == app.user %}
    <div class="row">
        <div class="col">
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <i class="bi-exclamation-triangle flex-shrink-0 me-4 fs-3"></i>
                <div class="fw-bold">
                    Attention, il s’agit de votre propre utilisateur
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="row">
        <div class="col">
            <a href="{{ path('user_index') }}" class="btn btn-outline-secondary">Retourner à la liste</a>
        </div>
        <div class="col text-end">
            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
