{% extends 'base.html.twig' %}

{% block title %}Admninistration{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1><i class="bi-gear"></i> Admnistration</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h2><i class="bi-person-circle"></i> Liste des utilisateurs</h2>
                    </div>
                    <table class="table table-sm sortable">
                        <thead>
                            <tr>
                                <th>Nom d’utilisateur</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>E-Mail</th>
                                <th>Dernière connexion</th>
                                <th class="no-sort">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>
                                    {% if userIsGranted(user, 'ROLE_ADMIN') %}
                                        <i class="text-danger bi-award"></i>
                                    {% endif %}
                                    {{ user.username }}
                                    {% if not user.isEnabled %}
                                        <span class="badge bg-secondary">Pas activé par l’utilisateur</span>
                                    {% endif %}
                                </td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.email }}</td>
                                <td data-sort="{{ user.lastLoginAt|date("U") }}">{{ user.lastLoginAt|date("d/m/Y H:i") }}</td>
                                <td>
                                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-outline-warning btn-sm" title="modifier"><i class="bi-pencil-square"></i></a>
                                    {% if user.isEnabled and user != app.user %}
                                    <a href="{{ path('home', {'_switch_user': user.username}) }}" class="btn btn-outline-secondary btn-sm" title="Se connecter en tant que"><i class="bi-person-bounding-box"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Aucun utilisateur trouvé</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="card-text text-end">
                        <a href="{{ path('user_new') }}" class="btn btn-outline-success"><i class="bi-person-plus"></i> Ajouter un utilisateur</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
