{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1><i class="bi-person"></i> Mon profil</h1>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="row mb-4">
        <div class="col">
            <div class="card border-warning">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Informations personnelles</h2>
                    </div>
                    {{ form_row(form.title) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.email) }}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-warning">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Informations de connexion</h2>
                    </div>
                    <p class="card-text alert alert-info">
                        Vous pouvez mettre à jour votre mot de passe.
                    </p>
                    {{ form_row(form.old_password) }}
                    {{ form_row(form.new_password) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form) }}

    <div class="row">
        <div class="col text-center">
            <button class="btn btn-outline-warning">Modifier</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
